@media only screen and (max-width: 768px) {
	.btn-default{
		width:99%;
		margin:auto;
	}

	.navbar-default .navbar-collapse {
	  background-color:rgba(56, 30, 61,0.9);
	}



	.navbar-brand{
		display:block;
	}

	.navbar-toggler{
		display:inline;
		float:right;
		
		
	}

}